//The main Timeframe red
$red: #EA4B3E;

body {
  //Sets the background color of the whole body to the main red
  background-color: $red;
  //Sets the font of the whole body to the Open Sans font from Google Fonts
  font-family: 'Open Sans', sans-serif;
}

#Title {
  //Center aligns the texts inside of elements with an ID tag of Title
  text-align: center;
  //Prevents word wrapping inside of elements with an ID tag of Title
  word-wrap: normal;
  //Sets the font size to 5em
  font-size: 5em;
  //Pushes the Title away from the top of the page
  margin-top: 100px;
}

#mainJumbo {
    //Adds a small black drop shadow around the main jumbotron
    box-shadow: 0 0 10px black;
    //Pushes the jumbotron away from the Title
    margin-top: 150px;
    //Removes bottom rounded corners
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
