//The main Timeframe red
$red: #EA4B3E;

body {
  //Sets the background color of the whole body to the main red
  background-color: $red;
  //Sets the font of the whole body to the Open Sans font from Google Fonts
  font-family: 'Open Sans', sans-serif;
  //Prevents the jumbotron from creating scrollbars
  overflow: hidden;
}

#Title {
  //Prevent the image from scaling too big but make it responsive
  max-width: 70%;
  height: auto;
  //Set the image in the center of the top of the screen
  margin: 5% 10% 5% 16%
}

#mainJumbo {
    //Adds a small black drop shadow around the main jumbotron
    box-shadow: 0 0 10px black;
    //Clear's Title bottom margin
    margin-top: 0px;
    //Removes bottom rounded corners
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    //Makes the jumbotron always fixed to the bottom of the page.
    height: 100vh;
    //Sets the text to be center aligned
    text-align: center;
}

//Makes elements with the class red-text have a red font color
.red-text {
  color: $red;
}
