/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$red: #EA4B3E;

body {
  background-color: $red;
}

#titleLogo {
  height: auto;
  width: 75%;
  position: relative;
  display: block;
  margin: auto;
}

.jumbotron {

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  max-width: 100%;
  margin: 40px auto 40px;
  background: white;
  padding: 40px;
  border-radius: 4px;
  .form-group {
    position: relative;
    padding-top: 16px;
    margin-bottom: 16px;
    .form-control {
      position: relative;
      z-index: 1;
      border-radius: 0;
      border-width: 0 0 1px;
      border-bottom-color: $red;
      height: auto;
      padding: 3px 0 5px;
    }
  }
}

.custom-form {
  max-width: 100%;
}
