/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$red: #EA4B3E;

body {
  background-color: $red;
  position: relative;
}

#titleLogo {
  height: auto;
  width: 75%;
  position: relative;
  display: block;
  margin: auto;
}

.jumbotron {
  box-shadow: 0 0 10px black;
  margin-top: 2%;
  height: 75vh;
  text-align: center;
  padding-left: 42%;
}

#result {
  margin-top: 2%;
}

#input {
  margin-top: 2%;
}
