/* line 4, ../sass/styles.scss */
body {
  background-color: #EA4B3E;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

/* line 13, ../sass/styles.scss */
#Title {
  max-width: 70%;
  height: auto;
  margin: 5% 10% 5% 16%;
}

/* line 21, ../sass/styles.scss */
#mainJumbo {
  box-shadow: 0 0 10px black;
  margin-top: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 65vh;
  text-align: center;
  overflow-y: auto;
  background-color: white;
}

/* line 40, ../sass/styles.scss */
.red-text {
  color: #EA4B3E;
}

/* line 44, ../sass/styles.scss */
#movieAndKeyword {
  background: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #EA4B3E;
  -webkit-box-shadow: none;
  margin-bottom: 20px;
}

/* line 53, ../sass/styles.scss */
label {
  font-weight: normal;
  font-size: 20px;
}

/* line 58, ../sass/styles.scss */
.form-control {
  font-size: 20px;
}

/* line 62, ../sass/styles.scss */
.btn {
  border-radius: 10%;
  font-size: 16px;
}
